{% extends "base.html" %}
{% block content %}
<h2>Mot de passe oublié ?</h2>
<p>Hélas, notre serveur mail de récupération n'est pas encore configuré 😬<br>
Mais n'ayez crainte, nous avons mis en place un système infaillible où vous pouvez tester votre mot de passe autant de fois que vous le voulez ! 🤓 Vous finirez bien par le retrouver... 😜</p>
{% if user == "" %}
<p>Désolé, nous n'avons pas réussi à récupérer votre mot de passe... 😢</p>
{% else %}
<p>Formulaire de test de mot de passe pour l'utilisateur {{ user }} :</p>
{% if user == "admin" %}
<em style="color:orange">Comme l'admin a des droits particuliers, ce formulaire utilise le mot de passe principal de l'application, stocké sur le serveur ! Attention à ne pas laisser n'importe qui accéder à cette page !</em>
<br>
{% endif %}
<form name=test action="">
<label for="password">Mot de passe : </label>
<input type=password name=password placeholder="Secret123">
<input type=button value="Test !" onclick=check_password()>
</form>
<p id=infomdp style="color:red"></p>
<script>
function sha512(str) {
	return crypto.subtle.digest("SHA-512", new TextEncoder("utf-8").encode(str)).then(buf => {
		return Array.prototype.map.call(new Uint8Array(buf), x=>(('00'+x.toString(16)).slice(-2))).join('');
	});
}

async function check_password() {
	var password = document.test.password.value;
	hashpassword = await sha512(password);
	hash = "{{ password }}";
	text = document.getElementById("infomdp");
	if (hash === hashpassword) {
		text.style.color = "green";
		text.textContent = "Mot de passe correct !";
	}
	else {
		text.style.color = "red";
		text.textContent = "Mot de passe incorrect...";
	}
}
</script>
{% endif %}
{% endblock %}
