{% extends "base.html" %}
{% block content %}
<h2>Notre boutique est toujours en cours d'aménagement, mais vous pouvez déjà vous créer un compte !</h2>
    <img width="90px" src="/static/images/cone.png">
<p>Comme nous sommes autant engagés dans votre sécurité sur internet que dans nos pâtisseries, nous expérimentons un système d'authentification qui ne nécessite pas qu'on stocke vos mots de passe sur notre serveur ! Contrairement à nos sucreries, ce système n'est pas garanti 100% sans bugs...</p>
{% endblock %}
